name: CI Pipeline
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:  
      - name: Checkout code
        uses: actions/checkout@v5
          # https://github.com/actions/checkout?tab=readme-ov-file

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
        # it is tipicly run by test framework such as JS, but now it's manual test   

        # - name: Build project
        #   run: npm run build
    